body {
    background-color: #1b2e2e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h4 {
    margin: 0.75em 0;
    color: #a2a2a2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time-container {
    margin-top: 10em;
    margin-bottom: 4em;
}

.time {
    pointer-events: none;
}

.sections {
    display: flex;
    flex-direction: row;
    gap: 5em;
    height: 20em;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5em;
}

.link-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-anchor {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    padding: 0.5em;
    overflow: hidden;
    transition: transform 0.2s ease;
    position: relative;
}

.fa, .fa-brands {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
}

.link-anchor:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.fa-notion {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black;
}

.notion {
    background-color: #F7F6F3;
}

.calendar {
    background-color: #4285F4;
}

.youtube {
    background-color: #FF0000;
}

.mail {
    background-color: #0078D4;
}

.drive {
    background-color: #FBBC04;
}

.ntnumail {
    background-color: #00509E;
}

.github {
    background-color: #161B22;
}

.blackboard {
    background-color: #F19800;
}

/*TODO*/

.todo-container {
    background-color: #F7F6F3;
    border-radius: 10px;
    height: inherit;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

h3 {
    margin: 0.5em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 0.5em;
    font-size: 16px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    float: left;
    font-size: 16px;
}

*:focus {
    outline: none;
}